@charset "UTF-8";

/* ★初期設定★ */
* {
  box-sizing: border-box;
}

/* ★フォントサイズ指定 */
html {
  font-size: 62.5%;
}

/* chromeブラウザのバグ対応のため、em指定。16px */
body {
  font-size: 1.6em;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}

h2 {
  font-size: 22px;
  font-size: 2.2rem;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
}

p {
  font-size: 15px;
  font-size: 1.5rem;
}


/* ★推奨フォント */
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ★初期設定・終★ */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  /*  max-width: 1170px;*/
  width: 98%;
}

.top_logo img {
  height: 6rem;
}

.header-menu ul {
  float: left;
  width: 100%;
  background-color: black;
  color: white;
}

.header-menu li {
  float: left;
}

.header-menu a {
  line-height: 6rem;
  padding: 0 3rem;
  display: block;
  font-size: 1.8rem;
  color: white;
  transition: all 0.3s;
}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
  clear: both;
  margin-top: 7rem;
  /*  margin-bottom: 100px;*/
}

.main {
  float: left;
  width: 69%;
  /*  background-color: lightblue;*/
}

.main h1 {
  border-left: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  padding-left: 1.5rem;
}

.main .writing_date {
  margin: 1rem 0 1.5rem 0;
}

.main .clock {
  float: left;
  width: 1.7rem;
  margin-top: 0.2rem;
  margin-right: 0.4rem;
  /*  vertical-align: bottom;*/
  /*  line-height: 1rem;*/
}

/*
OO
.main .slider_p {
  margin: 0 auto;
  width: 50%;
}
*/

/*
XX
.main #slider {
  width: 50%;
}
*/

/*
XX
#slider img {
  width: 50%;
}
*/

.main .hero {
/*  display: none;*/
  width: 100%;
}

.main .article_content {
  margin: 1.5rem 0 2rem 0;
}

.main .cards {
  margin: 4rem auto;
  padding: 2.5rem 0 0.3rem;
  background-color: lightgrey;
  text-align: center;
}

.cards .card {
  display: inline-block;
  /*  float: left;*/
  margin: 0 0.1rem;
  width: 23%;
  text-align: center;
}

.cards .clear_left {
  /*  clear: left;*/
}

.card img {
  width: 100%;
}

.card p {
  margin-top: -0.6rem;
  margin-bottom: 0.7rem;
}

.side-bars {
  float: right;
  width: 27%;
  margin-left: 3rem;
  /*  background-color: skyblue;*/
}

.side_bar {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.side_bar h3 {
  border-bottom: 0.3rem dotted black;
}

.side_bar a {
  color: black;
}

.last_foot {
  clear: both;
  height: 6rem;
  width: 100%;
  line-height: 6rem;
  background-color: black;
  color: white;
  text-align: center;
}
